@import '../../styles/vars.scss';

.registration {
  margin: 0 auto;
  display: grid;
  justify-items: center;
  width: 539px;
  background: $white-light;
  border-radius: 1rem;
  padding: 2rem 0;
}

.accepted {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;

  &__btn {
    display: flex;
    gap: 2em;
  }
}

