@import '../../styles/vars.scss';

.home-page {
  margin: 5rem auto;
  display: flex;
  gap: 25px;

  & a {
    width: 200px;
    height: 57px;
    padding: 1rem;
    background: $white;
    color: $black;
    border: 1px solid $brown-border;
    border-radius: 40px;
    font-size: 1rem;
    text-align: center;
  }
}