@import '../../styles/vars.scss';
@import '../../styles/mixins.scss';

.login {
  @include white-bg;
}

.greeting {
  font-size: 1em;
  @include flex-rules(column);

  &__text {
    margin-bottom: 20px;
  }

  &__btn {
    color: $black;
    display: flex;
    gap: 0.5em;
  }

  &__link {
    font-size: 1em !important;

    &::before {
      content: '';
      left: -2px !important;
    }
  }
}