@import './vars';

.btn {
  background: $dark-blue;
  width: 200px;
  height: 57px;
  padding: 0.5rem 4rem;
  color: $white;
  font-size: 1rem;
  border: 1px solid $brown-border;
  border-radius: 40px;

  &:disabled {
    background: $grey;
  }
}