@import '../../styles/vars.scss';

.check-password {
  &__list {
    margin-top: 10px;
  }

  &__item {
    color: $green;
    & svg {
      padding-right: 10px;
    }
  }
}

.check-mark {
  margin-right: 10px;
}