@import '../../styles/vars.scss';
@import '../../styles/mixins.scss';

.page-not-found {
  @include white-bg;
  gap: 1rem;

  &__title {
    color: $black;
    text-align: center;
  }

  &__text {
    text-align: center;
  }

  &__btn {
    display: flex;
    gap: 2em;
    margin-top: 30px;
  }

  &__link {
    font-size: 1.2em!important;
  }
}